@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  box-shadow: $shadow;
}
@-webkit-keyframes loading {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg) }
}
@keyframes loading {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
.markdown-editor {
  position: relative;
  > .markdown-editor-toolbar {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
    padding: 5px;
  }
  > textarea {
    min-width: 100%;
    max-width: 100%;
    height: 320px;
    border-top: 0 none;
    border-radius: 0 0 4px 4px;
    &:focus {
      @include box-shadow(none);
    }
  }
  &.focus {
    > .markdown-editor-toolbar {
      border-color: #66afe9;
    }
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6));
  }
  &.markdown-editor-loading:after {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    background-color: #333;
    -webkit-animation: loading 1.2s infinite ease-in-out;
    animation: loading 1.2s infinite ease-in-out;
  }
  > .markdown-preview {
    border: 1px solid #ccc;
    border-top: 0 none;
    border-radius: 0 0 4px 4px;
    min-height: 320px;
    padding: 15px;
  }
}
.fa-h1:before {
  content: "H1";
}
.fa-h2:before {
  content: "H2";
}
.fa-h3:before {
  content: "H3";
}